# Node modules
node_modules/

# Archivos de log
*.log

# Archivos de configuración de entorno
.env

# Archivos temporales de VS Code
.vscode/

# Archivos de sistema de macOS
.DS_Store

# Archivos de build
build/
dist/
